<div class="inline">
    <canvas id="{{title}}" style="width:370px;max-width:370px"></canvas>
</div>
<script>
    var ctx = document.getElementById("{{title}}").getContext('2d');
    var xValues = {{XV | safe}};
    var yValues = {{YV}};
    // var xValues = {{XV | safe}};
    // var yValues = {{YV}};


    new Chart(ctx, {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0.5,
                backgroundColor: "rgba(0,0,255,0.0)",

                pointBackgroundColor: "rgba(0,0,255,0.0)",
                // borderColor: "rgba(0,0,255,1.0)",
                pointRadius: 0,
                borderWidth: 2,
                data: yValues,
                // backgroundColor: gradient,
              borderColor: function(context) {
                const chart = context.chart;
                const {ctx, chartArea} = chart;

                if (!chartArea) {
                  // This case happens on initial chart load
                  return null;
                }
                return getGradient(ctx, chartArea);
              },
            }]
        },
        options: {
            aspectRatio: 1.5,
            plugins: {
                title: {
                    font: {size: 20},
                    color: 'rgb(27, 81, 235)',
                    display: true,

                    text: "{{title}}",

                },
                legend: {display: false},
            }

        }
    });

</script>
